.video {
	position: relative;
	video {
		width: 100%;
	}

	.btn {
		position: absolute;
		left: 50%;
		margin-left: -121px;
		top: 50%;
		margin-top: -30px;
		font-weight: bold;
		border: 1px solid #FFF;
		padding: 20px 30px;
		text-transform: uppercase;
		color: #FFF;

		&:hover {
			background: #FFF;
			color: #F96C57;
		}
	}
}

section {
	padding: 50px 0;
	h3 {
		font-weight: 900;
		text-transform: uppercase;
		font-size: 46px;
		line-height: 57px;
		color: #FD6C53;

		.ampersand {
			height: 42px;
			margin-bottom: -3px;
			path {
				fill: #FD6C53;
			}
		}
	}

	p {
		line-height: 2em;
	}

	.btn {
		border: 1px solid #FD6C53;
		padding: 10px 30px;
		text-transform: uppercase;
		color: #FD6C53;

		&:hover {
			background: #FD6C53;
			color: #FFF;
		}
	}

	&.build {
		h3 {
			margin-top: 20px;
		}
	}
}


