html, body {
	background: #FBF5EA;
}

header {
	background: #FD6C53;
	padding: 30px 0 40px;
	overflow: hidden;

	#logo {
		float: left;
		width: 89px;
		height: 114px;
	}

	nav {
		float: right;
		margin-top: 45px;

		a {
			display: inline-block;
			text-transform: uppercase;
			font-size: 20px;
			color: #FFF;
			margin: 0 10px;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				text-decoration: none;
				color: #FFF;
			}

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: '.';
				color: transparent;
				background: #fff;
				height: 1px;
				transition: all .5s;
			}
			&:hover:after {
  				width: 100%;
			}

			.ampersand {
				height: 20px;
				margin-bottom: -3px;
			}
		}
	}
}

body.home {
	header {
		height: 500px;
	}
	.content section:first-child {
		margin-top: -300px;
		padding-top: 0;
	}
}

.purple {
	background: #3A1F41;
	color: #FFF;
}

footer {
	position: relative;
	background: #FBF5EB;
	margin-top: 45px;
	padding-top: 45px;
	border-top: 1px solid rgba(119,119,119,0.1);

	h3 {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
	}

	a {
		color: #2A2A2A;

		&:hover {
			text-decoration: underline;
			color: #FD6C53;
		}
	}



	.sub-footer {
		border-top: 1px solid rgba(119,119,119,0.1);
		color: #7B7B78;
		font-size: 12px;
		margin-top: 90px;

		p {
			padding: 20px 0;
			margin: 0;
		}

		img {
			float: right;
			width: 32px;
			padding: 13px 0;
		}
	}
}

body.home footer {
	border-top: 0;
}

.collection-list {
	a {
		display: block;
		position: relative;
		margin-top: 20px;

		img {
			width: 100%;
		}

		span.title {
			position: absolute;
			left: 50%;
			margin-left: -100px;
			top: 50%;
			margin-top: -30px;
			font-weight: bold;
			border: 1px solid #FFF;
			padding: 20px 20px;
			text-transform: uppercase;
			color: #FFF;
			width: 200px;
			text-align: center;
		}
	}
}