---
---

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 972px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 940px
);

@import "bootstrap/bootstrap";
@import "_typeography";
@import "_page";
@import "_homepage";
