---
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- SEO Tag -->
		{% seo %}
		<!-- Feed -->
		{% feed_meta %}
		<link rel="shortcut icon" href="/assets/images/favicon.png">
		<link rel="stylesheet" href="/assets/styles/jungleskipper.css">

		<!-- GA -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-150942799-1', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>

		<header>

		</header>

		<section class="content">
			{{ content }}
		</section>

		<footer>
			
		</footer>
	</body>
</html>
